.detail-container {
    max-width: 900px;
    margin: 0 auto;
    box-shadow: -3px 0 150px 5px rgba(255, 255, 255, 0.092);
    height: fit-content;
    min-height: 100vh;
}
.detail-input-witdh {
    width: 200px;
}

.heigth-fit {
    height: fit-content;
}
.frame-detail-content {
    width: fit-content;
    max-width: 700px;
    margin: 0 auto;
}
.bg-gray {
    background-color: rgba( 33,37,41 , 0.03);
}
.table-container-history {
    max-height: 500px;
    overflow: auto;
}
@media only screen and (max-width: 618px) {
    .bg-gray {
        width: 100%;
    }
    .detail-input-witdh {
        width: 100%;
    }
}